.form-row {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    /*padding: 0 5px;*/
    gap: 10px;
    font-size: 12px;
}

.form-row-label {
    display: flex;
    align-items: center;
    flex: 0 0 20%;
    white-space: nowrap;
    border-right: 1px solid black;

}

.form-row-content {
    flex: 1;
}

.form-row-full {
    flex: 1;
}
