.form-row {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1px 5px;
    gap: 10px;
    font-size: 12px;
    /*background-color: green;*/
}

.form-row-label {
    flex: 0 0 20%; /* Fixed 25% when label is present */
    padding-right: 10px;
    white-space: nowrap;

}

.form-row-content {
    flex: 1; /* Take the remaining 75% when label is present */
}

.form-row-full {
    flex: 1; /* Full width when no label */
}
