/*.double-split {*/
/*    display: flex;*/
/*}*/

.not_split, .split {
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap */
    gap: 10px; /* Space between each option group */
}

label {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
}

label:hover {
    /*background-color: #e0e0e0; !* Slight change on hover *!*/
}

input[type="text"] {
    width: 250px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 6px; /* Space between the button and the label text */
}

.column-split {
    display: flex;
    flex-direction: column;
    gap: 2px; /* space between the two vertical radios */
}

.split > .column-split {
    flex-direction: column !important;
}

.center-vertical {
    display: flex;
    align-items: center; /* vertical align inside label */
    height: 100%; /* fill parent column */
}



.split div, .not_split {
    /*margin-bottom: 5px; !* Space between rows when wrapped *!*/
}

.split-line > .column-split:first-child {
    border-right: 1px solid black; /* light grey vertical line */
    padding-right: 15px;
}

.split-line > .column-split:last-child {
    padding-left: 15px; /* optional: space between border and content */
}

.evenly-spaced-options {
    justify-content: flex-start;
    gap: 200px;
    padding-right: 50px;
}




