h2, h3, h4, h5 {
    color: royalblue;
    margin: 5px 0;
    text-align: center;

}


form {
    margin: auto;
    max-width: 1000px;
    /*padding: 15px 30px;*/
    padding: 15px 0;
    /*border: 1px solid #ccc;*/
    background-color: #f9f9f9;
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

input {
    padding: 3px;
    border: none;
}


.outer_container {
    /*padding: 10px;*/
    /*background-color: orange;*/

}

.inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-blue {
    color: royalblue;
    font-size: 12px;
}

.block {
    /*border: 1px solid black;*/
    margin: 10px 0;
    width: 100%;
    /*background-color: green;*/
}

.block_no_header {
    margin: 10px 0;
}

.top-row-outer {
    display: flex;

    /*justify-content: space-between;*/
    /*align-content: center;*/
    /*flex-wrap: nowrap; !* Prevent wrapping *!*/
    /*width: 60%;*/
    width: 90%;
    /*max-width: 100%; !* Ensure it never exceeds the parent *!*/
    /*gap: 10px; !* Space between labels *!*/
}

.top-row-inner {
    display: flex;
    flex-direction: row;
    /*background-color: green;*/
}

.top-row-outer label {
    display: flex;
    font-size: 12px;
    /*flex-direction: column;*/
    max-width: 30%; /* Ensure each label takes up a maximum of 30% of the parent */
    flex: 1;
    margin: 5px;
    white-space: nowrap; /* Prevent text from breaking */
}

.header-add-row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 125px;
    /*background-color: green;*/
}
/*input[type="text"], input[type="date"] {*/
/*    !*width: 100%; !* Make input take full width of label *!*!*/
/*    box-sizing: border-box; !* Include padding in width calculation *!*/
/*}*/

.align-left {
    align-self: flex-start;
}

@media print {
    /*.page-break {*/
    /*    page-break-before: always;*/
    /*}*/

    .no-break, .block, h3, h2, h5, .form-row, .inner-row, .form-group, label, .block_no_header {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .form-row, .block {
        display: block;
    }

    .inner-row, .form-group, .block_no_header {
        display: inline-block;
        width: 100%;
    }
}

