.nav-links {
    /*max-width: 80%;*/
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #ff6400;*/
    padding: 1% 10%;

}

.nav-links h2  {
    color: darkblue;
    font-size: 30px;
}



